.side-banner {
  position: relative;
  text-decoration: none;
  display: block;
  
  @media screen and (max-width: @screen-md) {
    max-width: 212px;
  }
  
  &:nth-child(n+2) {
    margin-top: 35px;
  
    @media screen and (max-width: @screen-md) {
      margin-top: 0;
    }
  }
  
  &:hover {
    
    .side-banner__title {
      text-decoration: underline;
    }
  }
  
  &__header {
    color: #d1d1d1;
    font-family: @font-primary;
    font-size: 18px;
    position: absolute;
    top: 14px;
    left: 7px;
  } 
  
  &__picture {
    
  }
  
  &__title {
    font-family: @font-primary;
    color: @color-primary;
    font-size: 24px;
    margin-top: 4px;
  }
  
  &__dscr {
    font-family: @font-primary;
    color: #303438;
    font-size: 14px;
    line-height: 24px;
    margin-top: 17px;
  }
}