mixin slider(additionalClass)
  .slider(class=additionalClass)
    a.slider__item.slider__item--photo.modal-link(href="#photo")
      img.slider__picture(src="img/slider-1.jpg", alt="Photo")
    a.slider__item.slider__item--video.modal-link(href="#video")
      img.slider__picture(src="img/slider-1.jpg", alt="Photo")
    a.slider__item.slider__item--photo.modal-link(href="#photo")
      img.slider__picture(src="img/slider-2.jpg", alt="Photo")
    a.slider__item.slider__item--photo.modal-link(href="#photo")
      img.slider__picture(src="img/slider-1.jpg", alt="Photo")
    a.slider__item.slider__item--photo.modal-link(href="#photo")
      img.slider__picture(src="img/slider-1.jpg", alt="Photo")
    a.slider__item.slider__item--video.modal-link(href="#photo")
      img.slider__picture(src="img/slider-1.jpg", alt="Photo")
    a.slider__item.slider__item--photo.modal-link(href="#photo")
      img.slider__picture(src="img/slider-2.jpg", alt="Photo")
    a.slider__item.slider__item--photo.modal-link(href="#photo")
      img.slider__picture(src="img/slider-1.jpg", alt="Photo")