mixin slider(additionalClass)
  .slider(class=additionalClass)
    a.slider__item.slider__item--photo(href="#")
      img.slider__picture(src="img/slider-1.jpg", alt="Photo")
    a.slider__item.slider__item--video(href="#")
      img.slider__picture(src="img/slider-1.jpg", alt="Photo")
    a.slider__item.slider__item--photo(href="#")
      img.slider__picture(src="img/slider-2.jpg", alt="Photo")
    a.slider__item.slider__item--photo(href="#")
      img.slider__picture(src="img/slider-1.jpg", alt="Photo")
    a.slider__item.slider__item--photo(href="#")
      img.slider__picture(src="img/slider-1.jpg", alt="Photo")
    a.slider__item.slider__item--video(href="#")
      img.slider__picture(src="img/slider-1.jpg", alt="Photo")
    a.slider__item.slider__item--photo(href="#")
      img.slider__picture(src="img/slider-2.jpg", alt="Photo")
    a.slider__item.slider__item--photo(href="#")
      img.slider__picture(src="img/slider-1.jpg", alt="Photo")