.sitemap {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  
  &__item {
    color: @color-primary;
    font-size: 14px;
    font-family: @font-primary;
    text-decoration: none;
    
    &:hover {
      text-decoration: underline;
    }
    
    &:nth-child(n+2) {
      margin-left: 25px;
    }
  }
}
