.sitemap {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  
  @media screen and (max-width: @screen-md) {
    flex-wrap: wrap;
  }
  
  &__item {
    color: @color-primary;
    font-size: 14px;
    font-family: @font-primary;
    text-decoration: none;
  
    @media screen and (max-width: @screen-md) {
      line-height: 24px;
    }
    
    &:hover {
      text-decoration: underline;
    }
    
    &:nth-child(n+2) {
      margin-left: 25px;
    }
  }
}
