mixin sitemap(additionalClass)
  .sitemap(class=additionalClass)
    a.sitemap__item(href="#") Подать объявление
    a.sitemap__item(href="#") Все объявления
    a.sitemap__item(href="#") Магазин товаров
    a.sitemap__item(href="#") Реклама на сайте
    a.sitemap__item(href="#") Пользовательское соглашение
    a.sitemap__item(href="#") Помощь