mixin support-items(additionalClass)
  .support-items(class=additionalClass)
    .wrapper.support-items__wrapper
      +support-item('item-1.jpg')
      +support-item('item-2.jpg')
      +support-item('item-3.jpg')
      +support-item('item-4.jpg')