.support-items {
  margin-bottom: 28px;
  
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
  
  &__header {
    margin-bottom: 26px;
  }
  
  &--similar {
    margin-top: 43px;
  }
}
