.support-items {
  margin-bottom: 28px;
  
  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }
  
  &__header {
    margin-bottom: 26px;
  }
  
  &--similar {
    margin-top: 43px;
  
    @media screen and (max-width: @screen-md) {
      margin-bottom: 60px;
    }
  }
  
  &--tablet {
    display: none;
    margin-bottom: 36px;
  
    @media screen and (max-width: @screen-md) {
      display: block;
    }
    
    .support-item {
      width: 174px;
    }
    
    .support-item__picture {
      width: 100%;
      height: 115px;
    }
  }
}
