.pagination {
  border-top: 2px dotted rgba(22, 53, 89, .16);
  border-bottom: 2px dotted rgba(22, 53, 89, .16);
  padding: 21px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  &__button {
    color: #303438;
    font-family: @font-primary;
    font-size: 14px;
    text-decoration: none;
  }
  
  &__content {
    
  }
  
  &__link {
    color: #303438;
    font-family: @font-primary;
    font-size: 14px;
    text-decoration: none;
    
    &:nth-child(n+2) {
      margin-left: 10px;
    }
    
    &--active {
      color: @color-primary;
    }
  }
}