mixin pagination(additionalClass)
  .pagination(class=additionalClass)
    a.pagination__button(href="#") Назад
    .pagination__content
      a.pagination__link(href="#") 1
      a.pagination__link(href="#") 1
      a.pagination__link(href="#") 1
      a.pagination__link.pagination__link--active(href="#") 1
      a.pagination__link(href="#") 1
      a.pagination__link(href="#") 1
      a.pagination__link(href="#") 1
      a.pagination__link(href="#") 1
      a.pagination__link(href="#") 1
    a.pagination__button(href="#") Вперед