mixin pagination(additionalClass)
  .pagination(class=additionalClass)
    a.pagination__button(href="#") Назад
    .pagination__content
      a.pagination__link(href="#") 1
      a.pagination__link(href="#") 2
      a.pagination__link(href="#") 3
      a.pagination__link.pagination__link--active(href="#") 4
      a.pagination__link(href="#") 5
      a.pagination__link(href="#") 6
      a.pagination__link(href="#") 7
      a.pagination__link(href="#") 8
      a.pagination__link(href="#") 9
    a.pagination__button(href="#") Вперед