mixin breadcrumbs(additionalClass)
  .breadcrumbs(class=additionalClass)
    .breadcrumbs__content
      a.breadcrumbs__item.breadcrumbs__item--page(href="#") Все объявления
      a.breadcrumbs__item.breadcrumbs__item--page(href="#") Финансовый аудит
    .breadcrumbs__controls
      a.breadcrumbs__item(href="#") Назад
      a.breadcrumbs__item.breadcrumbs__item--next(href="#") Следующее