.input {
  height: 43px;
  background: #fff;
  border-radius: 3px;
  font-size: 14px;
  font-family: @font-primary;
  padding-left: 14px;
  
  &:hover {
    outline-color: @color-primary;
  }
  
  &--grey {
    background-color: #eef2f4;
    text-transform: uppercase;
    font-weight: 700;
    
    &::-webkit-input-placeholder {color:#c8d3dc;}
    &::-moz-placeholder          {color:#c8d3dc;}
    &:-moz-placeholder           {color:#c8d3dc;}
    &:-ms-input-placeholder      {color:#c8d3dc;}
  }
  
  &--bordered {
    border: 1px solid #959595;
  }
  
  &--textarea {
    padding: 14px;
    resize: none;
  }
}