mixin sections(additionalClass)
  .sections(class=additionalClass)
    +section('ads', 'Все объявления', 'Найди Своего Гуру')
    +section('store', 'Магазин товаров', 'Книги, аудио материалы, атрибутика, товары для здоровья и другая продукция')