mixin categories(additionalClass)
  .categories(class=additionalClass)
    .wrapper.categories__wrapper
      +category('health', 'Здоровье', 'Очищение организма Правильное питание Дыхание Фитнес')
      +category('women', 'Для женщин', 'Очищение организма Правильное питание Дыхание Фитнес')
      +category('business', 'Бизнес', 'Очищение организма Правильное питание Дыхание Фитнес')
      +category('travel', 'Путешествия', 'Очищение организма Правильное питание Дыхание Фитнес')
      +category('esoteric', 'Эзотерика', 'Очищение организма и правильное питание, а также Дыхание и Фитнес')
      +category('psychology', 'Психология', 'Очищение организма Правильное питание Дыхание Фитнес')
      +category('other', 'Разное', 'Очищение организма Правильное питание Дыхание Фитнес')