mixin gallery(additionalClass)
  .gallery(class=additionalClass)
    a.gallery__big-wrapper.cloud-zoom#zoom(href="img/gallery-big.jpg", rel="adjustX: 0, adjustY: 0, zoomWidth: 200, zoomHeight: 200")
      img.gallery__big(src="img/gallery-big.jpg", alt="Photo", align="left")
    .gallery__small-list
      a.gallery__small-item.cloud-zoom-gallery(href="img/gallery-big.jpg", rel="useZoom: 'zoom', smallImage: 'img/gallery-big.jpg'")
        img.gallery__small-picture(src="img/gallery-small.jpg", alt="Photo")
      a.gallery__small-item.cloud-zoom-gallery(href="http://placehold.it/580x383", rel="useZoom: 'zoom', smallImage: 'http://placehold.it/580x383'")
        img.gallery__small-picture(src="img/gallery-small.jpg", alt="Photo")
      a.gallery__small-item.cloud-zoom-gallery(href="http://placehold.it/580x383", rel="useZoom: 'zoom', smallImage: 'http://placehold.it/581x384'")
        img.gallery__small-picture(src="img/gallery-small.jpg", alt="Photo")