mixin gallery(additionalClass)
  .gallery(class=additionalClass)
    .gallery__big-wrapper
      img.gallery__big-picture(src="img/gallery-big.jpg", alt="Photo")
      iframe.gallery__big-video(src='', frameborder='0', allowfullscreen='')
    .gallery__small-list
      a.gallery__small-item(href="#", data-content="img/gallery-big.jpg")
        img.gallery__small-picture(src="img/gallery-small.jpg", alt="Photo")
      a.gallery__small-item(href="#", data-content="http://placehold.it/580x383")
        img.gallery__small-picture(src="img/gallery-small.jpg", alt="Photo")
      a.gallery__small-item.gallery__small-item--video(href="#", data-content='https://www.youtube.com/embed/XKTbmiSqcmc')
        img.gallery__small-picture(src="img/gallery-small.jpg", alt="Photo")