mixin gallery(additionalClass)
  .gallery(class=additionalClass)
    img.gallery__big(src="img/gallery-big.jpg", alt="Photo")
    .gallery__small-list
      a.gallery__small-item(href="#")
        img.gallery__small-picture(src="img/gallery-small.jpg", alt="Photo")
      a.gallery__small-item(href="#")
        img.gallery__small-picture(src="img/gallery-small.jpg", alt="Photo")
      a.gallery__small-item(href="#")
        img.gallery__small-picture(src="img/gallery-small.jpg", alt="Photo")