.price {
  min-width: 90px;
  display: inline-block;
  height: 28px;
  background: @color-primary;
  border-radius: 3px;
  color: #fff;
  font-family: @font-primary;
  font-size: 14px;
  line-height: 28px;
  padding-left: 10px;
  padding-right: 5px;
}
