mixin support-item(picture, content, additionalClass)
  a.support-item(href="#", class=additionalClass)
    img.support-item__picture(src="img/"+picture, alt="Picture")
    .support-item__title #{content}
    +price('15 000')