mixin section(icon, header, dscr, additionalClass)
  a.section(href="#", class=additionalClass)
    .section__icon(class='section__icon--'+icon)
    .section__content
      .section__header #{header}
      .section__dscr #{dscr}