mixin vip-item(picture, additionalClass)
  .vip-item(class=additionalClass)
    img.vip-item__picture(src="img/"+picture, alt="Picture")
    a.vip-item__title(href="#") Финансовый аудит
    +price('15 000')