mixin vip-item(additionalClass)
  .vip-item(class=additionalClass)
    img.vip-item__picture(src="item-1.jpg", alt="Picture")
    a.vip-item__title(href="#") Финансовый аудит
    +price('15 000', 'vip-item__price')