mixin search(additionalClass)
  form.search(action="#", method="get" class=additionalClass)
    select.select.input.search__category
      option.select__placeholder(selected, disabled, hidden) Выберите категорию
      option Здоровье
      option Для женщин
      option Бизнес
      option Путешествия
      option Эзотерика
      option Психология
      option Разное
    input.input.search__words(type="text", placeholder="Поиск по словам в объявлении")
    select.select.input.search__region
      option.select__placeholder(selected, disabled, hidden) По всей России
      option Москва
      option Санкт-Петербург
      option Нижний Новгород
      option Казань
      option Самара
      option Пермь
      option Уфа
      option Екатеринбург
      option Челябинск
      option Волгоград
      option Ростов-на-Дону
      option.search__other-city Выбрать другой...
    a.search__region-link.modal-link(href="#region")
    button.button.search__button Поиск
    