.item {
  display: flex;
  align-items: flex-start;
  padding: 27px;
  border-bottom: @border-dotted;
  position: relative;
  .transition;
  text-decoration: none;
  
  &:last-child {
    border-bottom: 0;
  }
    
  &:hover {
    background: #ecf1f6;
    border-bottom: 2px solid @color-primary;
  }
  
  &__picture {
    width: 227px;
    height: 151px;
  }
  
  &__content {
    margin-left: 14px;
  }
  
  &__title {
    color: @color-primary;
    font-family: @font-primary;
    font-size: 24px;
    margin-bottom: 13px;
    display: block;
    text-decoration: none;
  }
  
  &__dscr {
    color: #303438;
    font-family: @font-primary;
    font-size: 13px;
    margin: 15px 0 29px;
    line-height: 18px;
  }
  
  &--short {
    width: 242px;
    display: block;
    border-bottom: 0;
    padding: 8px;
    border-bottom: 3px solid transparent;
    
    &:nth-child(3n+1) {
      margin-left: -8px;
    }
    
    &:last-child {
      border-bottom: 3px solid transparent;
    }
    
    .item__title {
      margin-top: 15px;
    }
    
    .item__content {
      margin-left: 0;
    }
    
    .item__dscr {
      margin-bottom: 19px;
    }
    
    .meta {
      display: block;
    }
    
    .meta-item {
      line-height: 14px;
      
      &:before {
        display: none;
      }
    }
  }
}