mixin item(picture, title, price, content, additionalClass)
  a.item(href="#", class=additionalClass)
    img.item__picture(src="img/"+picture, alt="Photo")
    .item__content
      .item__title #{title}
      +price(price)
      p.item__dscr #{content}
      +meta