mixin user-controls(additionalClass)
  .user-controls(class=additionalClass)
    .user-controls__content
      a.user-controls__content-item.user-controls__content-item--active(href="#")
        .user-controls__content-item-header Мои объявления
        .user-controls__content-item-number 2
      a.user-controls__content-item(href="#")
        .user-controls__content-item-header Мои товары
        .user-controls__content-item-number 2
      a.user-controls__content-item(href="#")
        .user-controls__content-item-header Архив
        .user-controls__content-item-number 2
      a.user-controls__content-item(href="#")
        .user-controls__content-item-header Настройки
    .user-controls__balance
      .user-controls__balance-header Баланс
      .user-controls__balance-content 425 руб.