doctype html
html(lang='en')
  include ../templates/head.pug
  include ../templates/blocks.pug
  
  body
    +header
    .page-top
      .wrapper
        +search
    +breadcrumbs
    +vip-items
    .page-content
      .wrapper
        .content
          +sorting
          +item('item-5.jpg', 'Финансовый аудит', 'Несколько слов о предлагаемой услуге или курсе. Буквально несколько предложений. Несколько слов о предлагаемой...')
          +item('item-6.jpg', 'Финансовый аудит', 'Несколько слов о предлагаемой услуге или курсе. Буквально несколько предложений. Несколько слов о предлагаемой...')
          +item('item-1.jpg', 'Финансовый аудит', 'Несколько слов о предлагаемой услуге или курсе. Буквально несколько предложений. Несколько слов о предлагаемой...')
          +item('item-2.jpg', 'Финансовый аудит', 'Несколько слов о предлагаемой услуге или курсе. Буквально несколько предложений. Несколько слов о предлагаемой...')
          +item('item-3.jpg', 'Финансовый аудит', 'Несколько слов о предлагаемой услуге или курсе. Буквально несколько предложений. Несколько слов о предлагаемой...')
          +item('item-4.jpg', 'Финансовый аудит', 'Несколько слов о предлагаемой услуге или курсе. Буквально несколько предложений. Несколько слов о предлагаемой...')
          +item('item-5.jpg', 'Финансовый аудит', 'Несколько слов о предлагаемой услуге или курсе. Буквально несколько предложений. Несколько слов о предлагаемой...')
          +pagination
      .sidebar
        .sidebar__header Реклама
        +side-banner('banner-tall-1.jpg', 'Имиджмейкер', 'Нет места в шкафу, но нечего надеть?')
    +footer
    +login
    +signup
    +region-popup
    include ../templates/scripts.pug