doctype html
html(lang='en')
  include ../templates/head.pug
  include ../templates/blocks.pug
  
  body
    +header
    .page-top
      .wrapper
        +search
    .breadcrumbs
      .wrapper.breadcrumbs__wrapper
        .breadcrumbs__content
          a.breadcrumbs__item.breadcrumbs__item--page(href="#") Все объявления
          a.breadcrumbs__item.breadcrumbs__item--page(href="#") Финансовый аудит
        .breadcrumbs__controls
          a.breadcrumbs__item(href="#") Назад
          a.breadcrumbs__item.breadcrumbs__item--next(href="#") Следующее
    +support-items('support-items--tablet')
    .page-content
      .wrapper.page-content__wrapper
        .content
          +sorting
          .content__items
            +item('item-5.jpg', 'Финансовый аудит', '15 000', 'Несколько слов о предлагаемой услуге или курсе. Буквально несколько предложений. Несколько слов о предлагаемой...')
            +item('item-6.jpg', 'Финансовый аудит', '15 000', 'Несколько слов о предлагаемой услуге или курсе. Буквально несколько предложений. Несколько слов о предлагаемой...', '', 'item--active')
            +item('item-1.jpg', 'Финансовый аудит', '15 000', 'Несколько слов о предлагаемой услуге или курсе. Буквально несколько предложений. Несколько слов о предлагаемой...')
            +item('item-2.jpg', 'Финансовый аудит', '15 000', 'Несколько слов о предлагаемой услуге или курсе. Буквально несколько предложений. Несколько слов о предлагаемой...')
            +item('item-3.jpg', 'Финансовый аудит', '15 000', 'Несколько слов о предлагаемой услуге или курсе. Буквально несколько предложений. Несколько слов о предлагаемой...')
            +item('item-4.jpg', 'Финансовый аудит', '15 000', 'Несколько слов о предлагаемой услуге или курсе. Буквально несколько предложений. Несколько слов о предлагаемой...')
            +item('item-5.jpg', 'Финансовый аудит', '15 000', 'Несколько слов о предлагаемой услуге или курсе. Буквально несколько предложений. Несколько слов о предлагаемой...')
          +pagination
        .sidebar
          +side-banner('banner-tall-1.jpg', 'Имиджмейкер', 'Нет места в шкафу, но нечего надеть?')
          +side-banner('banner-tall-2.jpg', 'Имиджмейкер', 'Нет места в шкафу, но нечего надеть?')
          +side-banner('banner-tall-2.jpg', 'Имиджмейкер', 'Нет места в шкафу, но нечего надеть?')
    +footer
    +login
    +signup
    +region-popup
    include ../templates/scripts.pug