doctype html
html(lang='en')
  include ../templates/head.pug
  include ../templates/blocks.pug
  
  body
    +header
    +front
    +sections
    +categories
    +region
    +footer
    +login
    +signup
    +region-popup
    include ../templates/scripts.pug