doctype html
html(lang='en')
  include ../templates/head.pug
  include ../templates/blocks.pug
  
  body
    +header('header--shadow')
    .breadcrumbs
      .wrapper.breadcrumbs__wrapper
        .breadcrumbs__content
          a.breadcrumbs__item.breadcrumbs__item--page(href="#") Личный кабинет
          a.breadcrumbs__item.breadcrumbs__item--page(href="#") Настройки
        .breadcrumbs__controls
          a.breadcrumbs__item(href="#") Назад
    .card
      .wrapper
        .card__top
          img.card__photo(src="img/card-1.png", alt="Photo")
          .card__content
            .card__name Андрей Иванов
            .card__text Информация о тренере. Задача организации, в особенности же консультация с широким активом играет важную роль в формировании системы обучения кадров, соответствует насущным потребностям. Задача организации, в особенности же новая модель организационной деятельности представляет собой интересный эксперимент проверки системы обучения кадров, соответствует насущным потребностям. Равным образом новая модель организационной деятельности способствует подготовки и реализации новых предложений.
            .card__buttons
              a.button.card__button(href="#") Показать номер
              a.button.card__button(href="#") Написать
        +slider
      .content.card__items
        .wrapper
          .content__list
            .content-header Все объявления тренера:
            .content__items.content__items--card
              +item('item-5.jpg', 'Финансовый аудит', '15 000', 'Несколько слов о предлагаемой услуге или курсе. Буквально несколько предложений. Несколько слов о предлагаемой...')
              +item('item-6.jpg', 'Финансовый аудит', '15 000', 'Несколько слов о предлагаемой услуге или курсе. Буквально несколько предложений. Несколько слов о предлагаемой...')
              +item('item-1.jpg', 'Финансовый аудит', '15 000', 'Несколько слов о предлагаемой услуге или курсе. Буквально несколько предложений. Несколько слов о предлагаемой...')
          .content__list
            .content-header Все товары тренера:
            .content__items.content__items--card
              +item('item-5.jpg', 'Финансовый аудит', '15 000', 'Несколько слов о предлагаемой услуге или курсе. Буквально несколько предложений. Несколько слов о предлагаемой...')
              +item('item-6.jpg', 'Финансовый аудит', '15 000', 'Несколько слов о предлагаемой услуге или курсе. Буквально несколько предложений. Несколько слов о предлагаемой...')
              +item('item-1.jpg', 'Финансовый аудит', '15 000', 'Несколько слов о предлагаемой услуге или курсе. Буквально несколько предложений. Несколько слов о предлагаемой...')
    +footer
    +login
    +signup
    +modal-photo
    +modal-video
    include ../templates/scripts.pug