doctype html
html(lang='en')
  include ../templates/head.pug
  include ../templates/blocks.pug
  
  body
    +header('header--shadow')
    .breadcrumbs
      .wrapper.breadcrumbs__wrapper
        .breadcrumbs__content
          a.breadcrumbs__item.breadcrumbs__item--page(href="#") Личный кабинет
          a.breadcrumbs__item.breadcrumbs__item--page(href="#") Архив
        .breadcrumbs__controls
          a.breadcrumbs__item(href="#") Назад
    .cabinet
      .wrapper.cabinet__wrapper
        .content-header.cabinet__header Архив
        .cabinet__content
          .content.cabinet__content-wrapper
            .cabinet__controls
              +checkbox-item('all', 'Все')
              a.cabinet__controls-action(href="#") Удалить
              a.cabinet__controls-action(href="#") Восстановить
              a.cabinet__controls-action(href="#") Выделить
              a.cabinet__controls-action(href="#") Поднять
              a.cabinet__controls-action(href="#") VIP
            .cabinet__items
              +cabinet-item('item-1')
              +cabinet-item('item-2')
              +cabinet-item('item-3')
          +stats
    +footer
    +login
    +signup
    include ../templates/scripts.pug