doctype html
html(lang='en')
  include ../templates/head.pug
  include ../templates/blocks.pug
  
  body
    +header('header--shadow')
    .breadcrumbs
      .wrapper.breadcrumbs__wrapper
        .breadcrumbs__content
          a.breadcrumbs__item.breadcrumbs__item--page(href="#") Личный кабинет
          a.breadcrumbs__item.breadcrumbs__item--page(href="#") Настройки
    .cabinet
      .wrapper.cabinet__wrapper
        form.cabinet__content.form(action="#", method="post")
          .content.cabinet__content-wrapper
            .form__item
              .form__userpic Заменить фото
              .form__item-content
                .form__about Информация о тренере. Задача организации, в особенности же консультация с широким активом играет важную роль в формировании системы обучения кадров, соответствует насущным потребностям. Задача организации, в особенности же новая модель организационной деятельности представляет собой интересный эксперимент проверки системы обучения кадров, соответствует насущным потребностям. Равным образомновая модель организационной деятельности 
                button.button Сохранить
            .form__section
              .content-header Добавить фото:
              .form__item
                .form__item-header Фото:
                .form__item-content
                  a.form__photo(href="#")
                  a.form__photo(href="#")
                  a.form__photo(href="#")
                  a.form__photo(href="#")
                  a.form__photo(href="#")
                  a.form__photo(href="#")
            .form__section
              .content-header Добавить видео:
              .form__item
                .form__item-header Ссылка на видео:
                .form__item-content
                  input.input--grey.form__input(type="text", placeholder="youtu.be/yA_N5CXMm18")
              .form__item
                .form__item-header Ссылка на видео:
                .form__item-content
                  input.input--grey.form__input(type="text", placeholder="youtu.be/yA_N5CXMm18")
              .form__item
                .form__item-header Ссылка на видео:
                .form__item-content
                  input.input--grey.form__input(type="text", placeholder="youtu.be/yA_N5CXMm18")
            .form__section
              .content-header Контактная информация:
              .form__item
                .form__item-header Имя:
                .form__item-content
                  input.input--grey.form__input(type="text", placeholder="Андрей Иванов")
              .form__item
                .form__item-header Город:
                .form__item-content
                  input.input--grey.form__input(type="text", placeholder="Москва")
              .form__item
                .form__item-header Телефон:
                .form__item-content
                  input.input--grey.form__input(type="text", placeholder="8 901 111 11 11")
              .form__item
                .form__item-header Почта:
                .form__item-content
                  input.input--grey.form__input(type="text", placeholder="mail@mail.ru")
              button.button Сохранить
            .form__section
              .content-header Смена пароля:
              .form__item
                .form__item-header Пароль:
                .form__item-content
                  input.input--grey.form__input(type="password", placeholder="********")
              .form__item
                .form__item-header Подтверждение:
                .form__item-content
                  input.input--grey.form__input(type="password", placeholder="********")
              button.button Сохранить
          +stats
    +footer
    +login
    +signup
    include ../templates/scripts.pug