mixin region(additionalClass)
  .region(class=additionalClass)
    .wrapper.region__wrapper
      .region__left
        .region__map-wrapper
          .region__map.region__map--west
            a.region__button.region__button--west(href="#") Восточная часть
          .region__map.region__map--east
            a.region__button.region__button--east(href="#") Европейская часть
        .region__cities
          .region__cities-column
            a.region__city(href="#") Ростов-на-Дону
            a.region__city(href="#") Москва
            a.region__city(href="#") Санкт-Петербург
            a.region__city(href="#") Волгоград
            a.region__city(href="#") Екатеринбург
            a.region__city(href="#") Казань
          .region__cities-column
            a.region__city(href="#") Краснодар
            a.region__city(href="#") Нижний Новгород
            a.region__city(href="#") Пермь
            a.region__city(href="#") Самара
            a.region__city(href="#") Уфа
            a.region__city(href="#") Челябинск
      .region__right
        .region__province-column
          a.region__province(href="#") Адыгея
          a.region__province(href="#") Архангельская обл.
          a.region__province(href="#") Астраханская обл.
          a.region__province(href="#") Башкортостан
          a.region__province(href="#") Белгородская обл.
          a.region__province(href="#") Брянская обл.
          a.region__province(href="#") Владимирская обл.
          a.region__province(href="#") Волгоградская обл.
          a.region__province(href="#") Вологодская обл.
          a.region__province(href="#") Воронежская обл.
          a.region__province(href="#") Дагестан
          a.region__province(href="#") Ивановская обл.
          a.region__province(href="#") Ингушетия
          a.region__province(href="#") Кабардино-Балкария
          a.region__province(href="#") Калининградская обл.
          a.region__province(href="#") Калмыкия
          a.region__province(href="#") Калужская обл.
          a.region__province(href="#") Карачаево-Черкесия
          a.region__province(href="#") Карелия
          a.region__province(href="#") Кировская обл.
          a.region__province(href="#") Коми
          a.region__province(href="#") Костромская обл.
          a.region__province(href="#") Краснодарский край
          a.region__province(href="#") Крым
          a.region__province(href="#") Курганская обл.
          a.region__province(href="#") Курская обл.
          a.region__province(href="#") Ленинградская обл.
          a.region__province(href="#") Липецкая обл.
          a.region__province(href="#") Марий Эл.
        .region__province-column
          a.region__province(href="#") Мордовия
          a.region__province(href="#") Московская обл.
          a.region__province(href="#") Мурманская обл.
          a.region__province(href="#") Ненецкий АО
          a.region__province(href="#") Нижегородская обл.
          a.region__province(href="#") Новгородская обл.
          a.region__province(href="#") Оренбургская обл.
          a.region__province(href="#") Орловская обл.
          a.region__province(href="#") Пензенская обл.
          a.region__province(href="#") Пермский край
          a.region__province(href="#") Псковская обл.
          a.region__province(href="#") Ростовская обл.
          a.region__province(href="#") Рязанская обл.
          a.region__province(href="#") Самарская обл.
          a.region__province(href="#") Саратовская обл.
          a.region__province(href="#") Свердловская обл.
          a.region__province(href="#") Северная Осетия
          a.region__province(href="#") Смоленская обл.
          a.region__province(href="#") Ставропольский край
          a.region__province(href="#") Тамбовская обл.
          a.region__province(href="#") Татарстан
          a.region__province(href="#") Тверская обл.
          a.region__province(href="#") Тульская обл.
          a.region__province(href="#") Удмуртия
          a.region__province(href="#") Ульяновская обл.
          a.region__province(href="#") Челябинская обл
          a.region__province(href="#") Чеченская республика
          a.region__province(href="#") Чувашия
          a.region__province(href="#") Ярославская обл.
    +banner('region__banner')