.logo {
  font-family: @font-secondary;
  font-size: 46px;
  font-weight: 700;
  font-style: italic;
  color: @color-secondary;
  text-decoration: none;
  
  @media screen and (max-width: @screen-md) {
    font-size: 36px;
  }
  
  &__part {
    color: @color-primary;
  }
}
