.front {
  background: url(../img/front-1.jpg) no-repeat;
  background-size: cover;
  padding: 120px 0 35px;
  
  &__title {
    color: @color-secondary;
    font-family: @font-secondary;
    font-size: 72px;
    font-weight: 700;
    font-style: italic;
  }
  
  &__comment {
    color: @color-secondary;
    font-family: @font-primary;
    font-size: 30px;
  }
}
