.front {
  background-size: cover;
  padding: 120px 0 35px;
  position: relative;
  overflow: hidden;
  
  &__content {
    position: relative;
    z-index: 2;
  }
  
  &__title {
    color: @color-secondary;
    font-family: @font-secondary;
    font-size: 72px;
    font-weight: 700;
    font-style: italic;
    text-align: center;
  }
  
  &__comment {
    color: @color-secondary;
    font-family: @font-primary;
    font-size: 30px;
    text-align: center;
    margin: 18px 0 54px;
  }
  
  &__video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}
