mixin cabinet-item(id, additionalClass)
  .cabinet-item(class=additionalClass)
    .cabinet-item__content
      +checkbox(id)
      img.cabinet-item__picture(src="img/item-1.jpg", alt="Photo")
      .cabinet-item__info
        a.cabinet-item__title(href="#") Финансовый аудит
        +price('15 000')
    .cabinet-item__controls
      a.cabinet-item__controls-item.cabinet-item__controls-item--distinguish(href="#") Выделить
      a.cabinet-item__controls-item.cabinet-item__controls-item--up(href="#") Поднять
      a.cabinet-item__controls-item.cabinet-item__controls-item--vip(href="#") VIP
      