.cabinet {
  
  &__wrapper {
    
  }
  
  &__controls {
    display: flex;
    align-items: center;
    padding: 16px 0;
    border-top: @border-dotted;
    border-bottom: @border-dotted;
    margin-top: 40px;
  }
  
  &__controls-action {
    color: @color-primary;
    font-family: @font-primary;
    font-size: 14px;
    text-decoration: none;
  
    &:nth-child(n+2) {
      margin-left: 25px;
    }
  }
  
  &__items {
    
  }
}