.menu {
  display: flex;
  align-items: center;
  
  @media screen and (max-width: @screen-md) {
    flex-direction: column;
    order: 2;
    align-items: flex-start;
  }
  
  &__item {
    color: @color-primary;
    font-family: @font-primary;
    font-size: 14px;
    text-decoration: none;
    
    &:nth-child(n+2) {
      margin-left: 38px;
  
      @media screen and (max-width: @screen-md) {
        margin-left: 0;
        line-height: 20px;
      }
  
      @media screen and (max-width: @screen-sm) {
        line-height: normal;
        margin-top: 20px;
      }
    }
  
    @media screen and (max-width: @screen-sm) {
      color: #fff;
    }
    
    &:hover {
      text-decoration: underline;
    }
  }
}
