mixin vip-items(additionalClass)
  .vip-items(class=additionalClass)
    .wrapper.vip-items__wrapper
      +vip-item('item-1.jpg')
      +vip-item('item-2.jpg')
      +vip-item('item-3.jpg')
      +vip-item('item-4.jpg')