.content {
  
  &__items {
    
    &--short {
      display: flex;
      flex-wrap: wrap;
      padding-top: 20px;
      padding-bottom: 40px;
    }
    
    &--card {
      
      .item {
        
        &:last-child {
          border-bottom: @border-dotted;
          
          &:hover {
            border-bottom: 2px solid @color-primary;
          }
        }
      }
    }
  }
  
  &__list {
    margin-top: 55px;
    width: 724px;
  }
}
