.content {
  
  &__items {
    
    &--short {
      display: flex;
      flex-wrap: wrap;
      padding-top: 20px;
      padding-bottom: 40px;
    }
    
    &--card {
      
      .item {
        
        &:last-child {
          border-bottom: 2px dotted rgba(22, 53, 89, .16);
        }
      }
    }
  }
  
  &__list {
    margin-top: 55px;
    width: 724px;
  }
}
