.product {
  border-top: @border-dotted;
  padding-top: 17px;
  padding-right: 14px;
  
  @media screen and (max-width: @screen-sm) {
    border-top: 0;
    padding-top: 0;
    padding-right: 0;
  }
  
  &__gallery {
    margin-top: 10px;
  }
  
  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 9px;
    margin-bottom: 30px;
  
    @media screen and (max-width: @screen-sm) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  
  &__info-content {
    display: flex;
    align-items: center;
  
    @media screen and (max-width: @screen-sm) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  
  &__price {
    display: flex;
    align-items: center;
  }
  
  &__price-header {
    color: @color-secondary;
    font-family: @font-primary;
    font-size: 24px;
    margin-right: 12px;
  }
  
  &__link {
    color: @color-primary;
    font-family: @font-primary;
    font-size: 14px;
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-left: 49px;
    
    &:before {
      content: '';
      display: block;
      width: 12px;
      height: 12px;
      background: url(../img/icon-link.svg) no-repeat;
      background-size: cover;
      margin-right: 7px;
    }
    
    &:hover {
      text-decoration: underline;
    }
  
    @media screen and (max-width: @screen-sm) {
      margin-left: 0;
      margin-top: 15px;
      margin-bottom: 15px;
    }
  }
  
  &__meta {
    display: flex;
    align-items: center;
  }
  
  &__meta-item {
    
    &:nth-child(n+2) {
      margin-left: 57px;
  
      @media screen and (max-width: @screen-sm) {
        margin-left: 30px;
      }
    }
  }
  
  &__dscr {
    color: #4d4d4d;
    font-family: @font-primary;
    font-size: 14px;
    line-height: 24px;
  }
  
  &__author {
    margin-top: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    @media screen and (max-width: @screen-md) {
      justify-content: flex-end;
      margin-top: 35px;
    }
  
    @media screen and (max-width: @screen-sm) {
      justify-content: flex-start;
    }
  }
  
  &__user {
    display: flex;
    align-items: center;
    text-decoration: none;
  
    @media screen and (max-width: @screen-md) {
      display: none;
    }
  }
  
  &__user-picture {
    
  }
  
  &__user-name {
    color: @color-primary;
    font-size: 18px;
    font-family: @font-primary;
    margin-left: 17px;
    max-width: 110px;
    
    &:hover {
      text-decoration: underline;
    }
  }
  
  &__author-buttons {
    
  
    @media screen and (max-width: @screen-sm) {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
    }
  }
  
  &__author-button {
    
    &:nth-child(n+2) {
      margin-left: 15px;
  
      @media screen and (max-width: @screen-sm) {
        margin-left: 0;
        margin-top: 15px;
      }
    }
  
    @media screen and (max-width: @screen-md) {
      width: 228px;
    }
  }
  
  &__feedback {
    margin-top: 73px;
  
    @media screen and (max-width: @screen-md) {
      margin-top: 63px;
    }
  }
}