.stats {
  padding: 26px 34px 72px 36px;
  background-color: #fbfafa;
  border-radius: 5px;
  width: 293px;
  
  @media screen and (max-width: @screen-md) {
    display: none;
  }
  
  &__user {
    display: flex;
    align-items: center;
  }
  
  &__picture {
    width: 62px;
    height: 62px;
  }
  
  &__username {
    color: @color-secondary;
    font-family: @font-primary;
    font-size: 18px;
    line-height: 22px;
    margin-left: 12px;
    max-width: 105px;
  }
}